<div class="flex w-full">
  <section *ngIf="cart().length > 0; else thereAreNotProductsSelected" class="w-[70%] pr-4">
    <div>
      @for (product of cart(); track product) {
        <div class="m-3 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 principal">
          <a [routerLink]="['/product', product.producto.id]">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-24 md:rounded-none md:rounded-s-lg" [src]="product.producto.images[0]" alt="">
          </a>
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.producto.title}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ product.producto.price | currency }}</p>
          </div>
          <!-- Cambié el nombre de la clase a acciones-carrito -->
          <div class="acciones-carrito">
            <button (click)="deleteToCartHandler(product.producto)">
              <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="40" font-family="Arial" font-weight="bold">-</text>
              </svg>
            </button>
            <div>
              {{ product.cantidad }}
            </div>
            <button (click)="addToCartHandler(product.producto)">
              <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="40" font-family="Arial" font-weight="bold">+</text>
              </svg>
            </button>
          </div>
        </div>
      }
    </div>  
  </section>

  <ng-template #thereAreNotProductsSelected>
    <div class="w-[70%] pr-4 h-[400px] flex justify-center items-center pr-4">
      <p class="there-are-not-products">You have not selected any product</p>
    </div>
  </ng-template>
  
  <section class="w-[30%] pl-4">
    <div>
      <div class="mensaje-pre-compra">
        <p>All products have a money back guarantee</p>
        <p>*Shipping payment is not included</p>
      </div>
      <p class="total">Subtotal ({{ quantityOfProducts() }} products): {{ precioTotalAPagar()  | currency}}</p>
      <button class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-4/5 boton-pago">Pay</button>
    </div>
  </section>
</div>